
.header-img {
  height: 500px;
  width: 500px;
  display: block;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-intro {
 display: block;
 width: 500px;
 margin-top: 150px;

}
  